.photo-contents {
    margin-top: 30px;
}

.actualPhoto {
    height: 100%;
    width: auto;
    padding-top: 10px;
}

.BookmarkButton {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.DownloadButton {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.LikeButton {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.DynamicButtonRow {
    padding-top: 10px;
}

.PhotoTitle {
    padding-top: 10px;
}
