/*.PhotoContents {
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.PhotoInteraction {
    border: 1px solid black;
}*/

/*.container {
    text-align: center;
    margin: auto;
    flex-direction: column;
}*/

.actualPhoto {
    height: 100%;
    width: auto;
    padding-top: 10px;
}

.BookmarkButton {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.LikeButton {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.DynamicButtonRow {
    padding-top: 10px;
}

.PhotoTitle {
    padding-top: 10px;
}
