.photo-contents {
  margin-top: 30px;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.price {
  font-size: large;
  font-weight: bold;
}

.photo-component {
  background-color: #e9ecef;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 50%;
}

.actualPhoto {
  object-fit: contain;
  height: 100%;
  min-width: auto;
}

.photo-info {
  padding: 15px;
  margin-left: 50px;
}
.photo-interactions {
  margin-top: 10px;
  margin-bottom: 10px;
}

.DownloadButton {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.DynamicButtonRow {
  padding-top: 10px;
}

.PhotoTitle {
  padding-top: 10px;
}
