.photo-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.photo-result {
  margin: 40px 10px;
  display: block;
  position: relative;
  &:hover {
    transition: box-shadow 0.2s linear;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transition: transform 0.2s linear;
    cursor: pointer;
    border-radius: 20px;
  }
  .photo-thumbnail {
    width: 100%;
    height: auto;
  }
  position: relative;
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    &:hover {
      opacity: 1;
    }
  }
}
