.result-container {
  margin: 40px;
  padding: 5px;
  &:hover {
    box-shadow: 0px 0px 5px 5px #007bff;
    transition: box-shadow 0.2s linear;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transition: transform 0.2s linear;
    cursor: pointer;
    border-radius: 20px;
  }
}
