.ManageAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
}

.ManageConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
}

#passwordFeedback {
  color: red;
}
