.PhotoComments {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.CommentDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.CommentMessages {
    margin-bottom: 15px;
    border: black solid 2px;
}

#WarningMessage {
    color:red;
}

.DeleteButton{
    position: relative;
    float: right;
    
}
