.search-options {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  > * {
    margin: 0px 10px;
  }
}
.search-results {
  display: flex;
  justify-content: center;
  .result-container {
    margin: 40px;
    padding: 5px;
    &:hover {
      box-shadow: 0px 0px 5px 5px #007bff;
      transition: box-shadow 0.2s linear;
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transition: transform 0.2s linear;
      transition: transform 0.2s linear;
      cursor: pointer;
      border-radius: 20px;
    }
    &:active {
      border: red;
    }
  }
}
