.user-container {
  align-items: center;
  display: flex;
  min-width: fit-content;
  .text-container {
    flex-grow: 1;
    margin-right: 30px;
  }
  .button-container {
    margin-right: auto;
  }
  .cropper {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    margin-right: 10px;
    border-style: solid;
    border-color: #badcb694;
    border-width: 2px;
    .image {
      object-fit: cover;
      width: 100%;
    }
  }
}
