.search-dropdown > * {
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: #ced4da !important;
}

.search-button {
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: #ced4da !important;
}

.dropdown-item {
  color: #6d7072 !important;
  &:active,
  &.active {
    background-color: #dae0e5 !important;
  }
}
